<div class='my-3 mx-4'>
   <h3>Custom Observable</h3>

   <div class="row">
   <!--1-->
   <div class="col-md-6">
        <strong>Ex-01 (Manual)</strong>
        <hr>
        <ul class="techList error" id="elContainer1">
          <!--  <li>Angular</li>
            <li>Typescript</li>
            <li>Html & CSS</li>-->
        </ul>
   </div>
   
   <!--2-->
   <div class="col-md-6">
        <strong>Ex-02 (Custom Interval Observable)</strong>
        <hr>
        <ul class="techList completed">
            
            <li>Angular</li>
            <li>Typescript</li>
            <li>Html & CSS</li>
            
        </ul>
  </div>
<br>
<div class="row">
    <div class="col-md-12">
       <strong>Ex-03 (Random Name)</strong>
       <p class="bg-light py-3 px-2 border rounded">
           <strong>Random Names:</strong>
           'sk','saukat','alli','anup','sekhar','sharma','uxtrendz'
       </p>
  
        <hr>
        <p>Current Name:<strong class="text-success">Anup</strong></p>
        <span class="badge badge-success">Success</span>
      <!--<ul id="elContainer1">
         <li>Angular</li>
        <li>Typescript</li>
        <li>Html & CSS</li> 
        </ul>-->
    </div>

</div>

</div>
