<div class="my-3">
  <h2>Of and From</h2>
  <br>
  <strong>Ex-01(Of)</strong>
  <div class="row">
      <div class="col-md-6">
          <p class="bg-light py-3 px-2 border rounded">
              <strong>Data:</strong>Of('sk','saukat','alli')
          </p>
     
      <hr>
      <ul id="elContainer">
          <!-- <li>sk</li>
          <li>saukat</li>
          <li>alli</li> -->
      </ul>
    </div>

      <!--2-->
      <div class="col-md-6">
        <p class="bg-light py-3 px-2 border rounded">
            <strong>Data:</strong>Of(&#123;a:'sk',b:'saukat',c:'alli'&#125;)
        </p>
        <hr>
        <ul id="elContainer2">
            <li>{{obsMgs.a}}</li>
            <li>{{obsMgs.b}}</li>
            <li>{{obsMgs.c}}</li> 
        </ul>
    </div>
  </div>
<div></div>
  <strong>Ex-02(From)</strong>

  <div class="row">
     <div class="col-md-4">
        <strong>Array</strong>
        <p class="bg-light py-3 px-2 border rounded">
            <strong>Data:</strong>From(['UxTrenz','John','Alen'])
        </p>
   
     <hr>
     <ul id="elContainer3">
        <!-- <li>sk</li>
        <li>saukat</li>
        <li>alli</li> -->
     </ul>
     </div>
  


    <div class="col-md-4">
        <strong>Promise</strong>
        <p class="bg-light py-3 px-2 border rounded">
            <strong>Data:</strong>Promise To Observable
        </p>
   
    <hr>
    <ul id="elContainer4">
        <!-- <li>sk</li>
        <li>saukat</li>
        <li>alli</li> -->
    </ul>
   </div>
    <!--String-->
    <div class="col-md-4">
        <strong>String</strong>
        <p class="bg-light py-3 px-2 border rounded">
            <strong>Data:</strong>String to Observable
        </p>
   
     <hr>
     <ul id="elContainer5">
        <!-- <li>sk</li>
        <li>saukat</li>
        <li>alli</li> -->
     </ul>
     </div>

  </div>
</div>
