.col-md-3{
    margin-left: 17px;
    margin-top: 10px;
   padding: 111px;
}

#a{
    border: solid;
    width: 137px;
    height: 92px;
    text-align: center;
    background-color: chartreuse;
}
#srow{
   margin-top:-225px;
   margin-left: 160px;
}